header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
    @apply mb-0;
}

header a {
    @apply no-underline;
}

.list-options a {
    @apply no-underline;
}

.border-transparent {
    border-color: transparent !important;
}

a {
    @apply no-underline;
}

.bg-white-25 {
    --tw-bg-opacity: 0.25;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-white-50 {
    --tw-bg-opacity: 0.5;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.custom-pagination p {
    @apply mb-0;
}

.custom-pagination .px-4 {
    padding-right: 0.7rem !important;
    padding-left: 0.7rem !important;
}

.custom-pagination nav div>span>span>span span {
    background-color: #0D6EFD !important;
    color: #FFFFFF !important;
    border-color: #0D6EFD !important;
}

[type="checkbox"]:checked,
[type="radio"]:checked {
    background-size: contain;
}

.titulo-estudiante {
    /* min-height: 40px; */
    font-size: 12px;
    line-height: 120%;
    min-width: 200px;
}

.titulo-estudiante .label {
    @apply font-bold;
    /* display: block; */
    color: #0056A9;
    text-transform: uppercase;
    /* font-size: 10px; */
    letter-spacing: 1px;
    line-height: 90%;
}

.titulo-dni {
    @apply mb-1;
    min-height: 0px;
    font-size: 12px;
    letter-spacing: 1px;
}

/* .titulo-dni .label {
    display: inline-block;
}
 */

.titulo-curso {
    /* min-height: 60px; */
}

.titulo-fecha {
    @apply mb-1;
    min-height: 0px;
    font-size: 12px;
}

/* .titulo-fecha .label {
    @apply text-right;
}
 */

.profile-forms .profile-item.mt-5{
    margin-top: 0px !important;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    width: 100%;
    height: 10px;
    border-radius: 9px;
}

progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 9px;
}

progress::-webkit-progress-value {
    background: #cdeb8e;
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
    background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=0);
    border-radius: 9px;
}

progress::-moz-progress-bar {
    background: #cdeb8e;
    background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
    background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
    background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956', GradientType=0);
    border-radius: 9px;
}
